body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: normal;
}

.about-me {
  font-size: 1.3 rem;
  margin: 50px 30%;
}
.top-container {
  text-align: center;
  background-color: #E9F8F9;
}

.middle-container p {
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

.sub-heading {
  font-size: 120%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.7rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 2rem;
}

img {
  height: 220px;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  width: 150px;
  height: auto;
  margin-top: 50px;
}

.top-cloud {
  height: 78px;
  position: relative;
  top: 50px;
  left: 300px;
}

.bottom-cloud {
  height: 78px;
  position: absolute;
  left: 250px;
 
}

.mountain {
  position: relative;
  top: 150px;
  padding-top: 0px;
  padding-bottom: 180px;
  height: 150px;
}

.skills-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  font-size: 1rem;
}


.img-skill-one{
  width: 19%;
  height: auto;
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 15px;
}

.img-skill-two {
  width: 25%;
  height: auto;
  float: right;
  margin-right: 30px;
}

/* .skill-one-description {
  font-size: 1rem;
}

.skill-two-description{
  clear: right;
} */ */


.middle-container p {
  margin: 20px 30%;
  font-size: 50%;
}

hr {
  color: #c7d6d6;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  padding: auto;
  border-width: 8px;
  margin: 70px auto;
}

.skill-name {
  font-size: 1.3rem;
}

.contact-me h3 {
  font-size: 1.4rem;
  margin: 60px
}

.contact-me p {
  margin: 20px 30%;
  margin-bottom: 60px;
}

.contact-me a {
  text-decoration: none;
}

.btn {
  background-color: #3ec2c7;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 300px;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 40px;
  padding-bottom: 30px;
  margin-top: 80px;
}

.bottom-container a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}


.bottom-container a:hover {
  color: white;
}

.bottom-container p{
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 0.8rem;
}

